* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.hide {
  visibility: hidden;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.timeblocks-wrapper {
  padding-left: 5rem;
  padding-right: 5rem;
}

.description {
  white-space: pre-wrap;
}

#localstorage-confirmation p {
  text-align: center;
  color: green;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}


.time-block {
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.1fr;
  grid-template-areas: "hour task save-btn";
  text-align: center;
  border-radius: 15px;
}

.hour {
  grid-area: hour;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 0.5rem;
  font-weight: bold;
}

/* Text area */
.task {
  margin: 0;
  white-space: pre-wrap;
  height: 80px;
  border-bottom: 1px solid white;
  grid-area: task;
  border-right: 1px solid black;
}

.task:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 4px rgb(72, 163, 255);
  box-shadow: inset 0px 0px 0px 4px rgb(72, 163, 255);
}

.save-btn {
  border: none;
  border-bottom: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  grid-area: save-btn;
}

.save-btn:focus {
  outline: none;
}

.save-btn i:hover {
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.far {
  font-size: 1.5rem;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}
